body {
  font-family: ABeeZee;
  font-size: 24px;
  background: #219ebc;
  color: #023047;
  text-align: center;
}

h1 {
  display: block;
  margin: 10px auto;
  font-weight: bold;
}

.hello {
  display: block;
  font-size: 16px;
  background: #8ecae6;
  border: 3px solid #023047;
  border-radius: 20px;
  width: fit-content;
  padding: 15px;
  margin: 0 auto 12px auto;
}

.hi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-content: center;
}

footer {
  display: block;
  margin-top: auto;
  font-size: 14px;
}

a:link {
  color: #023047;
}

a:visited {
  color: #023047;
}

a:hover {
  color: #219ebc;
  text-decoration: underline; /* Add underline on hover */
}

a:active {
  color: #023047;
}
