body {
  font-family: ABeeZee;
  font-size: 36px;
  background: #219ebc;
  color: #023047;
  text-align: center;
}

h1 {
  font-weight: bold;
}

.hello {
  display: block;
  font-size: 24px;
  background: #8ecae6;
  border: 3px solid #023047;
  border-radius: 20px;
  width: fit-content;
  padding: 15px;
  margin: 16px auto;
}

footer {
  margin-top: auto;
  font-size: 14px;
}

a:link {
  color: #023047;
}

a:visited {
  color: #023047;
}

a:hover {
  color: #219ebc;
  text-decoration: underline; /* Add underline on hover */
}

a:active {
  color: #023047;
}
