body {
  font-family: ABeeZee;
  font-size: 32px;
  background: #219ebc;
  color: #ffb703;
  text-align: center;
}

h1 {
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 24px;
  background: #8ecae6;
  border: 3px solid #023047;
  border-radius: 10px;
  width: 100px;
  padding: 15px;
  margin: 8px auto;
}
