
.caladea-regular {
    font-family: "Caladea", serif;
    font-weight: 400;
    font-style: normal;
}

.caladea-bold {
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: normal;
}

.caladea-regular-italic {
    font-family: "Caladea", serif;
    font-weight: 400;
    font-style: italic;
}

.caladea-bold-italic {
    font-family: "Caladea", serif;
    font-weight: 700;
    font-style: italic;
}


.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
         }

html {
    font-family: Caladea;
    background: #2f2f2f;
    overflow-x: hidden;
    font-size: 20px;
}

h1 {
    font-family: Cinzel;
}

p {
    font-family: Caladea;
}

#topper {
    color: whitesmoke;
    text-align: center;
    transform: translateY(-10px);
  }

#topperimg {
    width: 200px;
    transform: translateY(20px);
    margin-top: 0px;
}

#percent {
    font-size: 67px;
    transform: translateY(-30px);
}