@font-face {
  font-family: deltarune;
  src: url("assets/deltarune.otf");
}

@font-face {
  font-family: small;
  src: url("assets/small.otf");
}

@font-face {
  font-family: title;
  src: url("assets/title.ttf");
}

body {
  background: black;
  text-align: center;
}

h1 {
  font-family: deltarune;
  color: white;
}

p {
  font-family: deltarune;
  color: white;
}

canvas {
  
}
