@font-face {
  font-family: deltarune;
  src: url("assets/deltarune.otf");
}

@font-face {
  font-family: small;
  src: url("assets/small.otf");
}

@font-face {
  font-family: title;
  src: url("assets/title.ttf");
}

body {
  background: black;
  text-align: center;
}

img {
  position: absolute;
  width: 24px;
  top: 315px;
  right: 745px;
}

h1 {
  font-size: 82px;
  font-family: title;
  color: white;
  margin-top: 75px;
  margin-bottom: 150px;
}

p {
  font-size: 32px;
  margin: 8px;
  font-family: deltarune;
  color: white;
}

#select {
  text-align: left;
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  
}
