@font-face {
  font-family: deltarune;
  src: url("assets/deltarune.otf");
}

@font-face {
  font-family: small;
  src: url("assets/small.otf");
}

@font-face {
  font-family: title;
  src: url("assets/title.ttf");
}

body {
  background: black;
  text-align: center;
}

h1 {
  font-size: 64px;
  font-family: title;
  color: white;
}

p {
  font-size: 32px;
  font-family: deltarune;
  color: white;
}

#select {
  display: block;
  margin-top: auto;
  margin-bottom: 100px;
}
canvas {
  
}
